[submodule "vendor/auto-pairs"]
	path = vendor/auto-pairs
  url = https://github.com/lunarwatcher/auto-pairs.git

[submodule "vendor/vim-fugitive"]
	path = vendor/vim-fugitive
  url = https://github.com/tpope/vim-fugitive.git

[submodule "vendor/vim-surround"]
	path = vendor/vim-surround
  url = https://github.com/tpope/vim-surround.git

[submodule "vendor/vim-lsp"]
	path = vendor/vim-lsp
  url = https://github.com/yegappan/lsp.git

[submodule "vendor/vim-commentary"]
	path = vendor/vim-commentary
	url = https://github.com/tpope/vim-commentary
